:root {
    --primary-orange: #EB8E0D;
    --deep-red: #D35400;
    --teal-blue: #3AC9C2;
    --bg-cream: #FEF6EF;
    --text-dark: #272B2B;
    --font-family: "DM Sans", sans-serif;
}

body {
    font-family: var(--font-family) !important;
    background-color: var(--bg-cream) !important;
    color: var(--text-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Sans" sans-serif !important;
}

.main-section {
    padding: 0 40px;
}

.hero_text {
    padding-top: 55px;
    position: relative;
}

.hero_text .book_img {
    position: absolute;
    bottom: 21px;
    left: 32%;
    z-index: 1;
}

.hero-section h1 {
    font-size: 148px;
    letter-spacing: -8px;
    line-height: 0.8;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
}

.hero-section h1 span {
    color: var(--primary-orange);
}
.bg-orange h2{
    font-size: 40px;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: -5%;
    font-family: var(--font-family) !important;
}
.bg-orange h2 span{
    color: var(--teal-blue);
}
.bg-orange p{
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: -5%;
    padding-top: 20px;
}